


.container {
  height: 100%;

  .header {
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 8px;
    padding: 8px 24px;
    width: 100%;
  }
  .body {
    display: grid;
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding: 24px;

    grid-template-columns: repeat(auto-fill, 256px);
    grid-template-rows: repeat(auto-fill, 256px);
    grid-gap: 16px;

    &.bodyList {
      display: flex;
    }
  }
  .footer {
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 8px;
    padding: 8px 24px;
  }
}